name: CD - Deploy Strapi to ECS

on:
  workflow_run:
    workflows: ["CI - Build & Push Strapi Image"]
    types:
      - completed

jobs:
  terraform:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: terraform

    steps:

    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      run: terraform init

    - name: Terraform Plan
      run: terraform plan \
        -var="DOCKERHUB_USERNAME=${{ secrets.TF_VAR_DOCKERHUB_USERNAME }}" \
        -var="DOCKERHUB_TOKEN=${{ secrets.TF_VAR_DOCKERHUB_TOKEN }}"

    - name: Terraform Apply
      run: terraform apply -auto-approve \
        -var="DOCKER_USERNAME=${{ secrets.TF_VAR_DOCKERHUB_USERNAME }}" \
        -var="DOCKERHUB_TOKEN=${{ secrets.TF_VAR_DOCKERHUB_TOKEN }}"
