name: CI - Build & Push Strapi Image

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2
    - name: Build Docker Image
      run: |
        docker build \
        -t 1383-8365-7644.dkr.ecr.us-east-1.amazonaws.com/strapi:latest .

    - name: Push Image
      run: |
       docker push \
       1383-8365-7644.dkr.ecr.us-east-1.amazonaws.com/strapi:latest
